Host github.com
  User git
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/imciel-deployer
  IdentitiesOnly yes
Host git.coding.net
  User git
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/imciel-deployer
  IdentitiesOnly yes
